# Daily Gas Supply

## What is in the Data
Daily gas supply for Ireland from January 1 2018 to the most recent quarter end. The data is updated quarterly.

In [107]:
#import libraries

import pandas as pd
import matplotlib.pyplot as plt 
import matplotlib.dates as mdates
import numpy as np
import seaborn as sns

In [108]:
data = pd.read_csv("https://www.gasnetworks.ie/corporate/open-data/2024-Q3-Daily-Gas-Supply.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            2465 non-null   object
 1   Corrib production               2465 non-null   float64
 2   Moffat                          2465 non-null   float64
 3   ROI imports via interconnector  2465 non-null   float64
 4   Total                           2282 non-null   float64
dtypes: float64(4), object(1)
memory usage: 96.4+ KB

In [109]:
data.head(20)

,Date,Corrib production,Moffat,ROI imports via interconnector,Total
0,01/01/2018,102.065496,71.311111,27.152195,200.528802
1,02/01/2018,101.201763,72.300000,31.378951,204.880714
2,03/01/2018,101.289081,94.022222,51.224061,246.535364
3,04/01/2018,102.011852,128.000000,77.649775,307.661627
4,05/01/2018,101.724944,127.900000,84.766547,314.391491
5,06/01/2018,101.639319,115.733333,69.260025,286.632677
6,07/01/2018,58.529277,164.933333,118.906097,342.368707
7,08/01/2018,101.623585,134.066667,78.485538,314.175790
8,09/01/2018,101.682802,118.111111,76.862663,296.656576
9,10/01/2018,101.617581,151.677778,91.159686,344.455045
10,11/01/2018,101.478580,134.344444,81.012758,316.835782
11,12/01/2018,101.202988,72.011111,35.667577,208.881676
12,13/01/2018,101.141079,89.188889,55.660650,245.990618
13,14/01/2018,100.892552,60.955556,24.514279,186.362387
14,15/01/2018,100.880577,78.111111,33.376215,212.367903
15,16/01/2018,66.964986,140.422222,89.482226,296.869434
16,17/01/2018,102.123298,111.900000,56.721315,270.744613
17,18/01/2018,101.500672,123.555556,72.305803,297.362031
18,19/01/2018,100.938805,146.922222,89.139416,337.000443
19,20/01/2018,100.826108,127.022222,75.485809,303.334139

In [110]:
# Round the data to 2 decimal places
data = data.round(2)

# Getting the rows with missing values
missing_data = data[data.isnull().any(axis=1)]

# How Total is calculated? If I know this I can fill the missing values 
data.sample(5)

,Date,Corrib production,Moffat,ROI imports via interconnector,Total
166,16/06/2018,90.67,69.70,36.94,197.31
2392,20/07/2024,31.14,122.57,78.68,NaN
1479,19/01/2022,45.31,210.52,140.97,396.80
212,01/08/2018,87.31,56.84,31.01,175.17
934,23/07/2020,56.68,149.09,105.99,311.76

In [111]:
data['check_total'] = data['Corrib production']+data['Moffat']+data['ROI imports via interconnector']

In [112]:
data.sample(5)

,Date,Corrib production,Moffat,ROI imports via interconnector,Total,check_total
552,07/07/2019,70.89,106.41,80.26,257.57,257.56
1786,22/11/2022,38.66,228.12,161.09,427.87,427.87
412,17/02/2019,72.95,66.06,37.22,176.23,176.23
2392,20/07/2024,31.14,122.57,78.68,NaN,232.39
201,21/07/2018,87.89,100.66,64.84,253.38,253.39

In [113]:
# Check if the data in Total column the same as the sum of the other columns (check_total)
data['Is_Equal'] = data['Total'] == data['check_total']
data['Is_Equal'].value_counts()

Is_Equal
False    1304
True     1161
Name: count, dtype: int64

In [114]:
# the raws with the wrong total
data[data['Is_Equal'] == False]

,Date,Corrib production,Moffat,ROI imports via interconnector,Total,check_total,Is_Equal
2,03/01/2018,101.29,94.02,51.22,246.54,246.53,False
3,04/01/2018,102.01,128.00,77.65,307.66,307.66,False
8,09/01/2018,101.68,118.11,76.86,296.66,296.65,False
9,10/01/2018,101.62,151.68,91.16,344.46,344.46,False
10,11/01/2018,101.48,134.34,81.01,316.84,316.83,False
...,...,...,...,...,...,...,...
2460,26/09/2024,30.02,139.00,90.52,NaN,259.54,False
2461,27/09/2024,30.01,152.02,104.15,NaN,286.18,False
2462,28/09/2024,29.97,165.89,121.84,NaN,317.70,False
2463,29/09/2024,29.94,121.21,76.12,NaN,227.27,False
2464,30/09/2024,29.93,183.77,129.83,NaN,343.53,False

The Total column calculated as the sum of other columns, so I can fill in the missing values.

In [115]:
# Fill the missing values with the sum of the other columns
data['Total'] = data['Total'].fillna(data['check_total'])
data.drop(['check_total', 'Is_Equal'], axis=1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Date                            2465 non-null   object
 1   Corrib production               2465 non-null   float64
 2   Moffat                          2465 non-null   float64
 3   ROI imports via interconnector  2465 non-null   float64
 4   Total                           2465 non-null   float64
dtypes: float64(4), object(1)
memory usage: 96.4+ KB

In [118]:
# Statistics of the data
round(data.describe(),2)

       Corrib production   Moffat  ROI imports via interconnector    Total
count            2465.00  2465.00                         2465.00  2465.00
mean               52.00   148.39                          100.11   300.50
std                21.80    42.35                           32.85    67.26
min                 0.00    35.44                            7.69   128.26
25%                35.84   119.19                           77.65   256.00
50%                47.45   146.43                           98.04   295.94
75%                68.14   173.64                          120.50   338.78
max               102.12   306.68                          223.58   568.13

In [121]:
# Formatting the date column
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%Y')
data.head()

,Date,Corrib production,Moffat,ROI imports via interconnector,Total
0,2018-01-01,102.07,71.31,27.15,200.53
1,2018-01-02,101.20,72.30,31.38,204.88
2,2018-01-03,101.29,94.02,51.22,246.54
3,2018-01-04,102.01,128.00,77.65,307.66
4,2018-01-05,101.72,127.90,84.77,314.39

In [127]:
# Changing the column names to lowercase
data.columns = data.columns.str.lower()

print(data['date'].min()) 
print(data['date'].max())

2018-01-01 00:00:00
2024-09-30 00:00:00

## Data Description. 

The dataset provides daily gas supply data, including the following columns:<br>

`date`: The date of the recorded gas supply data.<br>
`corrib production`: The volume of natural gas produced by the Corrib gas field.<br>
`moffat`: The volume of natural gas imported via the Moffat interconnection point, primarily from the UK.<br>
`roi imports via interconnector`: The volume of gas imported to the Republic of Ireland through the interconnector.<br>
`total`: The total gas supply, calculated as the sum of all gas sources.