# Daily Gas Demand Ireland

## Dataset description

The dataset reflects gas consumption in Ireland, categorized into different sectors:

* **Non-Daily Metered (NDM)**: Represents gas consumption by small to medium enterprises and residential properties, indicating a clear seasonal consumption pattern.

* **Daily Metered (DM)** and Large Daily Metered (LDM): Reflects gas consumption by large industrial users, with some showing steady usage and others displaying seasonal variations.

* **Power Generation**: Captures gas consumption by thermal power plants, with daily fluctuations based on electricity demand and renewable energy production.
The dataset provides insights into how gas is consumed across these sectors on a daily basis, with figures reported in GWh.

In [3]:
#import libraries

import pandas as pd
import matplotlib.pyplot as plt 
import matplotlib.dates as mdates
import numpy as np
import seaborn as sns

In [4]:
data = pd.read_csv("https://www.gasnetworks.ie/corporate/open-data/2024-Q3-Daily-Gas-Demand.csv")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2465 entries, 0 to 2464
Data columns (total 6 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Date                                     2465 non-null   object
 1   Daily Metered                            2465 non-null   float64
 2   Non Daily Metered (NDM)                  2465 non-null   float64
 3   Large Daily Metered (LDM) non Power Gen  2465 non-null   float64
 4   Power Generation                         2465 non-null   float64
 5   Total ROI demand                         2465 non-null   float64
dtypes: float64(5), object(1)
memory usage: 115.7+ KB

In [5]:
data.head()

,Date,Daily Metered,Non Daily Metered (NDM),Large Daily Metered (LDM) non Power Gen,Power Generation,Total ROI demand
0,01/01/2018,7.251362,55.409405,9.494423,57.062501,129.217691
1,02/01/2018,9.541429,57.607694,10.575758,54.855833,132.580714
2,03/01/2018,10.481540,60.505595,12.308507,69.217500,152.513142
3,04/01/2018,10.576218,59.123724,13.310019,96.651666,179.661627
4,05/01/2018,10.683822,62.322325,13.327011,100.158333,186.491491